.header {
   height: 100vh;
   padding-top: 160px;
   overflow: hidden;

   &__container {
      text-align: center;
      height: 100%;
      position: relative;
   }

   &__socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      left: 0;
      bottom: 50px;

      &::after {
         content: '';
         width: 1px;
         height: 30px;
         background-color: $primary;
      }

      a {
         font-size: 20px;

         &:nth-child(even) {
            font-size: 16px;
         }
      }
   }
}

.cta {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   gap: 20px;
}

.me {
   background: linear-gradient($primary, transparent);
   width: 300px;
   height: 420px;
   position: absolute;
   left: calc(50% - 150px);
   margin-top: 50px;
   border-radius: 150px 150px 0 0;
   overflow: hidden;
}

.scroll__down {
   position: absolute;
   right: -30px;
   bottom: 70px;
   transform: rotate(90deg);
   font-weight: 300;
   font-size: 12px;
}

@media (max-width: 1024px) {
   .header {
      height: 68vh;
   }
}

@media (max-width: 600px) {
   .header {
      height: 100vh;
   }

   .header__socials, .scroll__down {
      display: none;
   }
}