$black: #000000;
$bg: #1f1f38;
$bg-var: #2c2c6c;
$light: rgba(255, 255, 255, 0.6);
$primary: #4db5ff;
$primary-var: rgba(77, 181, 255, 0.4);
$white: #ffffff;

$transition: all 400ms ease;
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-ms: 90%;